In [1]:
import plotly.plotly as py
import pandas as pd
import json

try:
    # Python 2
    from itertools import izip
except ImportError:
        # Python 3
        izip = zip

df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/globe_contours.csv')
df.head()

,lat-1,lon-1,lat-2,lon-2,lat-3,lon-3,lat-4,lon-4,lat-5,lon-5,...,lat-14,lon-14,lat-15,lon-15,lat-16,lon-16,lat-17,lon-17,lat-18,lon-18
0,28.888688,0.0,35.663535,0.0,42.170841,0.0,47.912021,0.0,52.500000,0.0,...,-52.500000,0.0,-55.736177,0.0,-57.642093,0.0,-58.437121,0.0,-58.470238,0.0
1,28.680866,2.5,35.404502,2.5,41.868417,2.5,47.580464,2.5,52.158174,2.5,...,-52.158174,2.5,-55.404620,2.5,-57.339669,2.5,-58.178089,2.5,-58.262416,2.5
2,28.063715,5.0,34.635274,5.0,40.970334,5.0,46.595867,5.0,51.143084,5.0,...,-51.143084,5.0,-54.420023,5.0,-56.441586,5.0,-57.408861,5.0,-57.645266,5.0
3,27.055987,7.5,33.379224,7.5,39.503880,7.5,44.988147,7.5,49.485572,7.5,...,-49.485572,7.5,-52.812302,7.5,-54.975132,7.5,-56.152811,7.5,-56.637538,7.5
4,25.688302,10.0,31.674516,10.0,37.513612,10.0,42.806152,10.0,47.236000,10.0,...,-47.236000,10.0,-50.630308,10.0,-52.984864,10.0,-54.448102,10.0,-55.269852,10.0

In [4]:
contours = []

scl = ['rgb(213,62,79)','rgb(244,109,67)','rgb(253,174,97)',\
       'rgb(254,224,139)','rgb(255,255,191)','rgb(230,245,152)',\
       'rgb(171,221,164)','rgb(102,194,165)','rgb(50,136,189)']

def pairwise(iterable):
    a = iter(iterable)
    return izip(a, a)

i=0
for lat, lon in pairwise(df.columns):
    print(lat, lon)
    contours.append( dict(
        type = 'scattergeo',
        lon = df[lon],
        lat = df[lat],
        mode = 'lines',
        line = dict(
            width = 2,
            color = scl[i]
        )
    ) )
    i = 0 if i+1 >= len(df.columns)/4 else i+1

lat-1 lon-1
lat-2 lon-2
lat-3 lon-3
lat-4 lon-4
lat-5 lon-5
lat-6 lon-6
lat-7 lon-7
lat-8 lon-8
lat-9 lon-9
lat-10 lon-10
lat-11 lon-11
lat-12 lon-12
lat-13 lon-13
lat-14 lon-14
lat-15 lon-15
lat-16 lon-16
lat-17 lon-17
lat-18 lon-18

In [6]:
import plotly
import pandas as pd

import plotly.plotly as py
import numpy as np

In [7]:
data = pd.read_csv('vg_sales_rating.csv')
data = data[(~data.Name.isnull()) & (data.Year_of_Release <= 2016)
            & (~data.Genre.isnull()) & (~data.Publisher.isnull())]

data = data.groupby(['Year_of_Release']).sum().loc[:,['NA_Sales','EU_Sales','JP_Sales','Other_Sales']]
data.columns = ['Sales_NA', 'Sales_EU', 'Sales_JP', 'Sales_Other']
data = data.reset_index(level=[0])
data['id'] = data.index
data.head(5)

   Year_of_Release  Sales_NA  Sales_EU  Sales_JP  Sales_Other  id
0           1980.0     10.59      0.67      0.00         0.12   0
1           1981.0     33.40      1.96      0.00         0.32   1
2           1982.0     26.92      1.65      0.00         0.31   2
3           1983.0      7.76      0.80      8.10         0.14   3
4           1984.0     33.28      2.10     14.27         0.70   4

In [8]:
melt_data = pd.melt(data,
                    id_vars=['Year_of_Release'],
                    value_vars=['Sales_NA', 'Sales_EU', 'Sales_JP', 'Sales_Other'],
                    var_name='GeoLocation', value_name='Sales')

GeoMap = {
    'Sales_NA': (-100, 45),
    'Sales_EU': (15, 50),
    'Sales_JP': (140, 37),
    'Sales_Other': (50, -25)
}
GPS = melt_data.loc[:, 'GeoLocation'].map(GeoMap)
melt_data['Lon'] = GPS.map(lambda x: x[0])
melt_data['Lat'] = GPS.map(lambda x: x[1])

melt_data.head(), melt_data.shape

(   Year_of_Release GeoLocation  Sales  Lon  Lat
 0           1980.0    Sales_NA  10.59 -100   45
 1           1981.0    Sales_NA  33.40 -100   45
 2           1982.0    Sales_NA  26.92 -100   45
 3           1983.0    Sales_NA   7.76 -100   45
 4           1984.0    Sales_NA  33.28 -100   45, (148, 5))

In [31]:
yearly = []  
for i in sorted(list(set(melt_data.Year_of_Release))):
    df_sub = melt_data[melt_data.Year_of_Release == i]
    df_sub = df_sub[df_sub.GeoLocation == 'Sales_NA']
    city = dict(
        type = 'scattergeo',
        locationmode = 'USA-states',
        visible=False,
        lon = df_sub['Lon'],
        lat = df_sub['Lat'],
        text = df_sub['GeoLocation'],
        marker = dict(
            size = df_sub['Sales'] * 10,
            color = ['rgb(215,25,28)', 'rgb(253,174,97)', 'rgb(26,150,65)', 'rgb(44,123,182)'],
            line = dict(width=0.5, color='rgb(40,40,40)'),
            sizemode = 'area'
        ),
        name = 'Year {}'.format(i) )
    yearly.append(city)

yearly = yearly[:-3]
yearly[5]['visible'] = True


steps1 = []
for i in range(len(yearly)):
    step = dict(
        method = 'restyle',
        label = 'lab1',
        args = ['visible', [False] * len(yearly)],
    )
    step['args'][1][i] = True # Toggle i'th trace to "visible"
    steps1.append(step)

    
steps2 = []
for i in sorted(list(set(melt_data.GeoLocation))):
    df_sub = melt_data[melt_data.GeoLocation == i]
    step = dict(
        method = 'update',
        label = 'lab2' + str(i),
        args = [{'marker': dict(
            size = df_sub['Sales'] * 10,
            color = ['rgb(215,25,28)'],
            line = dict(width=0.5, color='rgb(40,40,40)'),
            sizemode = 'area'), 'lon': df_sub['Lon'],
        'lat': df_sub['Lat'],
        'text': 'haha',}
                 ],
    )
    steps2.append(step)
    
sliders = []
sliders.append(dict(active = 5,
         currentvalue = {"prefix": "Year since 1980: "},
         pad = {"t": 0},
         steps = steps1))
sliders.append(dict(active = 2,
         currentvalue = {"prefix": "Year since 1999: "},
         pad = {"t": 100},
         steps = steps2))

layout = dict(sliders=sliders,
              title='Total Sales by year in each Region',
              xaxis=dict(title='Year'))

fig = dict(data=yearly, layout=layout)

py.iplot(fig, filename='Sine Wave Slider')